Repository minimum-core/test-github-action, changes with the owners that CODEOWNERS names for each.
All owners: @minimum-core/admin, @minimum-core/admin-1, @minimum-core/admin-2

add foo
  foo/.terraform.lock.hcl
  foo/aqua.yaml
  foo/aqua/conftest.yaml
  foo/aqua/terraform.yaml
  foo/aqua/tflint.yaml
  foo/aqua/tfsec.yaml
  foo/main.tf
  foo/terraform.tf
Owners: @minimum-core/admin-1, @minimum-core/admin-2

test
  .github/workflows/test.yaml
Owners: @minimum-core/admin

fix
  .github/workflows/test.yaml
Owners: @minimum-core/admin

update
  .github/workflows/test.yaml
Owners: @minimum-core/admin

approve
  .github/workflows/test.yaml
Owners: @minimum-core/admin

approve
  .github/workflows/test.yaml
Owners: @minimum-core/admin

Add renovate.json
  renovate.json
Owners: none

CODEOWNERS:

/.github/ @minimum-core/admin
/CODEOWNERS @minimum-core/admin

# update by renovate
# .terraform.lock.hcl
# aqua.yaml
# aqua/*.yaml
# .tflint.hcl (tflint plugin)
#
# give up automerge
# renovate.json preset
# .github

foo/**/*.tf @minimum-core/admin-1 @minimum-core/admin-2
foo/**/*.md @minimum-core/admin-1 @minimum-core/admin-2
